<a href="https://colab.research.google.com/github/KDcodePy/Sales-prediction/blob/main/Sales_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sales Prediction

Kim Hazed Delfino

## Loading Data 
- Use Pandas to read the sales prediction data set into Google Colab
- Use df.info() and df.head() methods to preview the first rows of your data and a summary of your DataFrame's columns.

##Data Cleaning
- Explore the data - what do you need to do to clean this data? Clean it!
- Be sure to address each of the following tasks:

## Exploratory Visuals

## Explanatory Visuals

In [306]:
import pandas as pd

In [307]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [308]:
filename = "/content/drive/MyDrive/sales_predictions.csv"

In [309]:
df = pd.read_csv(filename)

In [310]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [311]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [312]:
counts_row=len(df)

In [313]:
counts_columns=len(df.columns)

In [314]:
print(f"There are {counts_row} rows and {counts_columns} columns in this data set")

There are 8523 rows and 12 columns in this data set

In [315]:
for col in df.columns:
  print(f"column {col} is a {df[col].dtypes} type")

column Item_Identifier is a object type
column Item_Weight is a float64 type
column Item_Fat_Content is a object type
column Item_Visibility is a float64 type
column Item_Type is a object type
column Item_MRP is a float64 type
column Outlet_Identifier is a object type
column Outlet_Establishment_Year is a int64 type
column Outlet_Size is a object type
column Outlet_Location_Type is a object type
column Outlet_Type is a object type
column Item_Outlet_Sales is a float64 type

In [316]:
print(f"There are {df.duplicated().sum()} duplicates")

There are 0 duplicates

In [317]:
nan_item_weight_filter = df["Item_Weight"].isna()

In [318]:
nan_iw_df = df[nan_item_weight_filter]

In [319]:
nan_iw_df # dataframe for all missing values for Item_Weight

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

In [320]:
df["Outlet_Size"].fillna("None", inplace=True) # Changed the NaN to String value called "None" so can iterate through them

In [ ]:
counter = 0
for outlet in df["Outlet_Size"]:
  counter += 1

  if outlet == "None":
    print("I found a None! ")
    if df.iloc[counter,10] == "Grocery Store":
      print("replacing None")
      df.iloc[counter,8]= df.iloc[counter,8].replace("None","Small")
      print(f"none replaced at index {counter}")

In [322]:
type_filter = df["Outlet_Type"] == "Grocery Store"
type_df = df[type_filter]

In [323]:
type_df["Outlet_Size"].value_counts()

Small    674
None     409
Name: Outlet_Size, dtype: int64

In [328]:
none_filter = df["Outlet_Size"]== "None"

In [329]:
none_df = df[none_filter]

In [330]:
none_df["Outlet_Size"].value_counts()

None    2264
Name: Outlet_Size, dtype: int64